{% extends 'layout.html.twig' %}
{% set active = 'inspire_me' %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/search/destinations.css?v={{ app['assets.css.version'] }}">
    <link rel="stylesheet" href="/css/inspireme.css?v={{ app['assets.css.version'] }}">
    {#
        <link rel="stylesheet" href="/css/xxx.css?v={{ app['assets.css.version'] }}">
        <link rel="stylesheet" href="/css/{{ page.code }}.min.css?v={{ app['assets.css.version'] }}">
    #}
{% endblock %}


{% block content %}
    <div class="headline">
        <h1 class="page-title text-white"><sup><i
                        class="fa fa-quote-left"></i></sup>{{ 'quotes.travel.%id%' | replace({'%id%':random(1..5)})  | trans }}
            <sub><i class="fa fa-quote-right sub"></i></sub></h1>
        <hr>
        <div class="content">{{ page.content | raw }}
        </div>
    </div>
    <div id="inspireMe" class="_js-masonry"
         data-masonry-options='{ "itemSelector": ".item", "columnWidth": ".grid-sizer" }'>
      <!--  <div class="grid-sizer col-md-6"></div>-->
        {% for city in cities %}
            <div class="item col-xs-12 col-md-6 col-lg-3 row">
                <div class="destination result-image">
                    <a href="{{ path('discover.city',{city:city.code ~ '_' ~ city.intl[app.locale].name}) }}">
                        <img src="/data/city/{{ city.code | upper }}/pictures/thumb.jpg"/>

                        <div class="mask">
                            <div class="city-name">{{ city.intl[app.locale].name }}, {{ city.intl[app.locale].country }}</div>
                            <div class="city-description">{{ city.intl[app.locale].shortDescription }}</div>
                        </div>
                    </a>
                </div>
            </div>

        {% endfor %}
    </div>
    {#
     <article id="page.code" class="card page-body cms-page">
         <h1 class="page-title material-color">{{ 'contact.popup.title' | trans }}</h1>
         <div class="page-content">
             <div class="modal-body">
                 <p><b>{{ 'contact.page.text' | trans }}</b></p>
                 <br/>
                 <p>
                 <form id="contact-form" class="form-horizontal ajaxform" method="POST" action="{{ path('mail.send') }}">
                     <div class="form-group">
                         <div class="col-sm-8 col-sm-offset-2">
                             <input class="form-control" name="email" type="email" id="inputEmail" placeholder="{{ 'your.email' |trans }}"
                                    required>
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="col-sm-8 col-sm-offset-2">
                             <!--<input class="form-control" name="message" type="textarea" id="input-message" placeholder="Message" required> -->
                             <textarea class="form-control" name="message" id="inputMessage" placeholder="Message..."
                                       rows="6" required></textarea>
                         </div>
                     </div>
                     <br/><br/><br/>

                     <div class="form-group">
                         <div class="col-sm-8 col-sm-offset-2">
                             <input class="form-control" name="sec" type="sec" id="inputSec"
                                    placeholder="1 + 3 + 105 = ? " required>
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="col-sm-8 col-sm-offset-2">
                             <button type="submit" class="btn btn-primary"
                                     style="float:right;">{{ 'Send' | trans }}</button>
                         </div>
                     </div>
                 </form>

                 </p>
             </div>
         </div>
     </article>
 #}

    </div>



    {% include 'common/emailPopup.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if app.debug %}
        <!-- <script src="/js/plugins/bootstrap-typeahead.js"></script> -->


        <script src="/js/xxx.js?v={{ app['assets.js.version'] }}"></script>
    {% else %}
    {% endif %}
    <script src="/js/plugins/masonry.pkgd.min.js"></script>
    <script src="/js/vendor/kenweego/jquery.kwg-carousel.js" async="true"></script>
    <script src="/js/common/events.music.js" async="true"></script>


    {% if app.locale  != 'en' %}
        <script src="/js/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.{{ app.locale }}.js"></script>
    {% endif %}
    <script>
        $(function () {
            var handle = {id: '', opacity: 10};
            var $cover = $(".bg-cover");
            if(analytics){
                analytics.page("InspireMe");
            }
            setTimeout(function () {
                handle.id = setInterval(function () {


                    if (handle.opacity == 90){
                        clearInterval(handle.id);
                        $('.headline').css("background-color", "transparent");
                    }
                    else {
                        $cover.css("background-color", "rgba(0, 0, 0," + handle.opacity / 100 + ")");
                        handle.opacity += 1;
                    }
                }, 100);
            }, 3000);
        });
    </script>
{% endblock %}