{% extends 'layout.html.twig' %}
{% set active = 'admin' %}



{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div>
        <div>
            <div class="btn-group" style="">
                <a class="btn btn-danger" href="{{ path('admin_crud_list',{'collectionName': collectionName}) }}" type="button"><i
                        class="fa fa-reply"></i>Back</a>

            </div>
            <div class="btn-group" style="">
                <a class="btn btn-app btn-primary" href="{{ path('admin_crud_add', {'collectionName': collectionName}) }}" type="button"><i
                        class="fa fa-plus"></i>Create a new {{ collectionName }}</a>

            </div>
            <div class="btn-group pull-right" style="margin-left: 10px">
                <form action="{{ path('admin_crud_list', {'collectionName': collectionName}) }}" method="get" class="form-inline"
                      style="width:270px;">
                    <div class="form-group">
                        <input type="text" name="q" value="{{ q }}" class="form-control  input-active" placeholder="Search..."/>
                    </div>
                    <button type='submit' name='seach' id='search-btn' class="form-control btn btn-default"><i
                                class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="btn-group pull-right">
                <form method='GET' action="{{path('crud_list_default')}}" class="form-inline">
                    <select name="collectionName" class="form-control">
                        {% for value in collectionSelect %}
                        <option {% if value == collectionName %} selected {% endif %}>{{ value }}</option>
                            {% endfor %}
                    </select>
                    <input type='submit' class="btn btn-primary" value='Change'>
                </form>
            </div>
        </div>
        <hr/>
        <h1>
            {% if q is not empty %}
                Results for "{{ q }}"
            {% else %}
                Listing {{ collection.count }} {{ collectionName }}(s)
            {% endif %}
        </h1>

        {% if paginator.totalItems == 1 %}
            <strong>1</strong> {{ collectionName }} found.
        {% else %}
            <strong>{{ paginator.totalItems }}</strong> {{ collectionName }}s found.
        {% endif %}

        Showing <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.


        <hr>
        <table class="table table-bordered">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            {% for element in collection %}
                <tr>
                    <td>{{ element._id }}</td>
                    <td>{{ element.name }}  {{ element.title }}  {{ element.firstname }}</td>
                    <td>
                        <ul class="list-group">
                        {% for key, val in element %}
                            <li class="list-group-item"><u><b>{{ key }} :</b></u> {{ val is iterable ? (val | join( ' | ') ): (val |join('.')) }}</li>
                        {% endfor %}
                            </ul>
                    </td>
                    <td><a class="btn btn-primary" href="{{ path('admin_crud_edit', {'collectionName': collectionName, id: element._id }) }}">Edit</a> |
                    <a class="btn btn-primary bg-yellow"  href="{{ path('admin_crud_view', {'collectionName': collectionName, id: element._id }) }}">Show</a> |
                    <a class="btn btn-danger bg-yellow" onclick="return confirm('{{ 'confirm.action.label'| trans }}')"  href="{{ path('admin_crud_delete', {'collectionName': collectionName, id: element._id }) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        {{ paginator|raw }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}