<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="color: #555; font-weight:bold;text-transform:uppercase; font-family: sans-serif; font-size: 30px;">
            <b>Travel like never before</b>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 20px;">
            <b>Hi {{user.firstname}},</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #666; font-family: sans-serif; font-size: 17px; line-height: 1.5;">
            Thank you so much for registering on Kenweego.
            We've created kenweego to help travelers find great travel destinations and great prices.
            <br/>
            <b>We hope that starting from now, finding your travel destinations will be much more simple.</b>

            <br/>	<br/>
            And because you are now part of our community, you have access to exclusive features:
            <ul>

                <li style="padding-bottom: 10px;list-style-type: square;">Your destinations prices will be updated automatically.</li>
                <li style="padding-bottom: 10px;list-style-type: square;">You have a <a href="http://kenweego.com/en/user/dashboard" style="color:#ff584B;text-decoration:none;"><b>Personal travel board</b></a> to track your favorites destinations, and check the prices easily</li>

            </ul>


            <ul>
                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://kenweego.com/en/flights" style="color:#ff584B;text-decoration:none;"><b>A flight fare engine</b></a> to search and compare multiple travel fares and agents easily.</li>

                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://hotels.kenweego.com" style="color:#ff584B;text-decoration:none;"><b>An accommodation engine</b></a> to search and compare different accommodation types in one place :<br/>
                    <b style="font-style:italic"> hostels, Hotels, Bed And Breakfast, Rentals etc. </b></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 25px;">
            <hr>
            <b>Users only features </b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #555; font-family: sans-serif; font-size: 17px; line-height: 20px;">
            And because you are now part of our community, you have access to exclusive features:
            <ul>

                <li style="padding-bottom: 10px;list-style-type: square;">Your destinations prices will be updated automatically.</li>
                <li style="padding-bottom: 10px;list-style-type: square;">You have a <a href="http://kenweego.com/en/user/dashboard" style="color:#ff584B;text-decoration:none;"><b>Personal travel board</b></a> to track your favorites destinations, and check the prices easily</li>

            </ul>
        </td>

    </tr>
    <tr>
        <td bgcolor="#eee" style="padding:10px; border:1px solid #999; color: #555; font-family: sans-serif; font-size: 16px; line-height: 20px;border-radius:4px;">
            We are continuously improving the website to meet your demands.
            <br/>
            <br>
            Do you have any <b>suggestion, feature request, remark, comment or question <b> we would love hear about it.
                    Get in touch with us by <a href='mailto:feedback@kenweego.com' style="color:#ff584B;text-decoration:none;">email.</a>


        </td>

    </tr>
    <tr>
        <td>
            <hr>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #555555; font-family: sans-serif; font-size: 20px; text-align:center">

                        <h2>Articles our blog</h2>
                    </td>
                </tr>
                <tr>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-weirdest-dishes-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Laverbread.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        The weirdest dishes in Europe.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                    </td>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-most-beautiful-beaches-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Plages.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        Festival in San José.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="color: #555; font-weight:bold;text-transform:uppercase; font-family: sans-serif; font-size: 30px;">
            <b>Travel like never before</b>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 20px;">
            <b>Hi {{user.firstname}},</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #666; font-family: sans-serif; font-size: 17px; line-height: 1.5;">
            Thank you so much for registering on Kenweego.
            We've created kenweego to help travelers find great travel destinations and great prices.
            <br/>
            <b>We hope that starting from now, finding your travel destinations will be much more simple.</b>

            <br/>	<br/>
            In addition to our destination search engine we have :

            <ul>
                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://kenweego.com/en/flights" style="color:#ff584B;text-decoration:none;"><b>A flight fare engine</b></a> to search and compare multiple travel fares and agents easily.</li>

                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://hotels.kenweego.com" style="color:#ff584B;text-decoration:none;"><b>An accommodation engine</b></a> to search and compare different accommodation types in one place :<br/>
                    <b style="font-style:italic"> hostels, Hotels, Bed And Breakfast, Rentals etc. </b></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 25px;">
            <hr>
            <b>Users only features </b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #555; font-family: sans-serif; font-size: 17px; line-height: 20px;">
            And because you are now part of our community, you have access to exclusive features:
            <ul>

                <li style="padding-bottom: 10px;list-style-type: square;">Your destinations prices will be updated automatically.</li>
                <li style="padding-bottom: 10px;list-style-type: square;">You have a <a href="http://kenweego.com/en/user/dashboard" style="color:#ff584B;text-decoration:none;"><b>Personal travel board</b></a> to track your favorites destinations, and check the prices easily</li>

            </ul>
        </td>

    </tr>
    <tr>
        <td bgcolor="#eee" style="padding:10px; border:1px solid #999; color: #555; font-family: sans-serif; font-size: 16px; line-height: 20px;border-radius:4px;">
            We are continuously improving the website to meet your demands.
            <br/>
            <br>
            Do you have any <b>suggestion, feature request, remark, comment or question <b> we would love hear about it.
                    Get in touch with us by <a href='mailto:feedback@kenweego.com' style="color:#ff584B;text-decoration:none;">email.</a>


        </td>

    </tr>
    <tr>
        <td>
            <hr>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #555555; font-family: sans-serif; font-size: 20px; text-align:center">

                        <h2>Articles our blog</h2>
                    </td>
                </tr>
                <tr>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-weirdest-dishes-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Laverbread.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        The weirdest dishes in Europe.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                    </td>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-most-beautiful-beaches-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Plages.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        Festival in San José.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="color: #555; font-weight:bold;text-transform:uppercase; font-family: sans-serif; font-size: 30px;">
            <b>Travel like never before</b>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 20px;">
            <b>Hi {{user.firstname}},</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #666; font-family: sans-serif; font-size: 17px; line-height: 1.5;">
            Thank you so much for registering on Kenweego.
            We've created kenweego to help travelers find great travel destinations and great prices.
            <br/>
            <b>We hope that starting from now, finding your travel destinations will be much more simple.</b>

            <br/>	<br/>
            In addition to our destination search engine we have :

            <ul>
                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://kenweego.com/en/flights" style="color:#ff584B;text-decoration:none;"><b>A flight fare engine</b></a> to search and compare multiple travel fares and agents easily.</li>

                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://hotels.kenweego.com" style="color:#ff584B;text-decoration:none;"><b>An accommodation engine</b></a> to search and compare different accommodation types in one place :<br/>
                    <b style="font-style:italic"> hostels, Hotels, Bed And Breakfast, Rentals etc. </b></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 25px;">
            <hr>
            <b>Users only features </b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #555; font-family: sans-serif; font-size: 17px; line-height: 20px;">
            And because you are now part of our community, you have access to exclusive features:
            <ul>

                <li style="padding-bottom: 10px;list-style-type: square;">Your destinations prices will be updated automatically.</li>
                <li style="padding-bottom: 10px;list-style-type: square;">You have a <a href="http://kenweego.com/en/user/dashboard" style="color:#ff584B;text-decoration:none;"><b>Personal travel board</b></a> to track your favorites destinations, and check the prices easily</li>

            </ul>
        </td>

    </tr>
    <tr>
        <td bgcolor="#eee" style="padding:10px; border:1px solid #999; color: #555; font-family: sans-serif; font-size: 16px; line-height: 20px;border-radius:4px;">
            We are continuously improving the website to meet your demands.
            <br/>
            <br>
            Do you have any <b>suggestion, feature request, remark, comment or question <b> we would love hear about it.
                    Get in touch with us by <a href='mailto:feedback@kenweego.com' style="color:#ff584B;text-decoration:none;">email.</a>


        </td>

    </tr>
    <tr>
        <td>
            <hr>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #555555; font-family: sans-serif; font-size: 20px; text-align:center">

                        <h2>Articles our blog</h2>
                    </td>
                </tr>
                <tr>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-weirdest-dishes-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Laverbread.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        The weirdest dishes in Europe.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                    </td>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-most-beautiful-beaches-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Plages.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        Festival in San José.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="color: #555; font-weight:bold;text-transform:uppercase; font-family: sans-serif; font-size: 30px;">
            <b>Travel like never before</b>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 20px;">
            <b>Hi {{user.firstname}},</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #666; font-family: sans-serif; font-size: 17px; line-height: 1.5;">
            Thank you so much for registering on Kenweego.
            We've created kenweego to help travelers find great travel destinations and great prices.
            <br/>
            <b>We hope that starting from now, finding your travel destinations will be much more simple.</b>

            <br/>	<br/>
            In addition to our destination search engine we have :

            <ul>
                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://kenweego.com/en/flights" style="color:#ff584B;text-decoration:none;"><b>A flight fare engine</b></a> to search and compare multiple travel fares and agents easily.</li>

                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://hotels.kenweego.com" style="color:#ff584B;text-decoration:none;"><b>An accommodation engine</b></a> to search and compare different accommodation types in one place :<br/>
                    <b style="font-style:italic"> hostels, Hotels, Bed And Breakfast, Rentals etc. </b></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 25px;">
            <hr>
            <b>Users only features </b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #555; font-family: sans-serif; font-size: 17px; line-height: 20px;">
            And because you are now part of our community, you have access to exclusive features:
            <ul>

                <li style="padding-bottom: 10px;list-style-type: square;">Your destinations prices will be updated automatically.</li>
                <li style="padding-bottom: 10px;list-style-type: square;">You have a <a href="http://kenweego.com/en/user/dashboard" style="color:#ff584B;text-decoration:none;"><b>Personal travel board</b></a> to track your favorites destinations, and check the prices easily</li>

            </ul>
        </td>

    </tr>
    <tr>
        <td bgcolor="#eee" style="padding:10px; border:1px solid #999; color: #555; font-family: sans-serif; font-size: 16px; line-height: 20px;border-radius:4px;">
            We are continuously improving the website to meet your demands.
            <br/>
            <br>
            Do you have any <b>suggestion, feature request, remark, comment or question <b> we would love hear about it.
                    Get in touch with us by <a href='mailto:feedback@kenweego.com' style="color:#ff584B;text-decoration:none;">email.</a>


        </td>

    </tr>
    <tr>
        <td>
            <hr>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #555555; font-family: sans-serif; font-size: 20px; text-align:center">

                        <h2>Articles our blog</h2>
                    </td>
                </tr>
                <tr>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-weirdest-dishes-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Laverbread.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        The weirdest dishes in Europe.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                    </td>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-most-beautiful-beaches-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Plages.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        Festival in San José.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="color: #555; font-weight:bold;text-transform:uppercase; font-family: sans-serif; font-size: 30px;">
            <b>Travel like never before</b>
            <br/><br/>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 20px;">
            <b>Hi {{user.firstname}},</b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #666; font-family: sans-serif; font-size: 17px; line-height: 1.5;">
            Thank you so much for registering on Kenweego.
            We've created kenweego to help travelers find great travel destinations and great prices.
            <br/>
            <b>We hope that starting from now, finding your travel destinations will be much more simple.</b>

            <br/>	<br/>
            In addition to our destination search engine we have :

            <ul>
                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://kenweego.com/en/flights" style="color:#ff584B;text-decoration:none;"><b>A flight fare engine</b></a> to search and compare multiple travel fares and agents easily.</li>

                <li style="padding-bottom: 10px;list-style-type: square;"><a href="http://hotels.kenweego.com" style="color:#ff584B;text-decoration:none;"><b>An accommodation engine</b></a> to search and compare different accommodation types in one place :<br/>
                    <b style="font-style:italic"> hostels, Hotels, Bed And Breakfast, Rentals etc. </b></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="color: #555555; font-family: sans-serif; font-size: 25px;">
            <hr>
            <b>Users only features </b>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 30px 0; color: #555; font-family: sans-serif; font-size: 17px; line-height: 20px;">
            And because you are now part of our community, you have access to exclusive features:
            <ul>

                <li style="padding-bottom: 10px;list-style-type: square;">Your destinations prices will be updated automatically.</li>
                <li style="padding-bottom: 10px;list-style-type: square;">You have a <a href="http://kenweego.com/en/user/dashboard" style="color:#ff584B;text-decoration:none;"><b>Personal travel board</b></a> to track your favorites destinations, and check the prices easily</li>

            </ul>
        </td>

    </tr>
    <tr>
        <td bgcolor="#eee" style="padding:10px; border:1px solid #999; color: #555; font-family: sans-serif; font-size: 16px; line-height: 20px;border-radius:4px;">
            We are continuously improving the website to meet your demands.
            <br/>
            <br>
            Do you have any <b>suggestion, feature request, remark, comment or question <b> we would love hear about it.
                    Get in touch with us by <a href='mailto:feedback@kenweego.com' style="color:#ff584B;text-decoration:none;">email.</a>


        </td>

    </tr>
    <tr>
        <td>
            <hr>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #555555; font-family: sans-serif; font-size: 20px; text-align:center">

                        <h2>Articles our blog</h2>
                    </td>
                </tr>
                <tr>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-weirdest-dishes-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Laverbread.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        The weirdest dishes in Europe.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                    </td>
                    <td width="240" valign="top">
                        <a href="http://blog.kenweego.com/en/the-most-beautiful-beaches-in-europe" style="text-decoration:none;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <img src="http://blog.kenweego.com/wp-content/uploads/2015/07/Plages.jpg" alt="" width="100%" height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 0 0 0; color: #ff584B; text-align:center; font-family: sans-serif; font-size: 20x; line-height: 20px;">
                                        Festival in San José.
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>