<div id="contact-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">{{ 'feature.not.ready.title' | trans }}</h2>
            </div>
            <div class="modal-body">
                <p><b>{{ 'feature.not.ready.text' | trans }}</b></p>
                <br/>

				<p>

					<form id="contact-form" class="form-horizontal ajaxform" method="POST"
						  action="{{ path('mail.send') }}">
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<input class="form-control" name="email" type="email" id="inputEmail"
									   placeholder="{{ 'your.email' | trans }}"
									   required />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<textarea class="form-control" name="message" id="inputMessage" placeholder="Message..."
										  rows="6" required></textarea>
							</div>
						</div>
						<br/>

						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<input class="form-control" name="sec" type="sec" id="inputSec"
									   placeholder="1 + 3 + 105 = ? " required autocomplete="false" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
                                <input type="hidden" name="properties" value="{{ app.request.get('_route') }}" />
								<button type="submit" class="btn btn-primary"
										style="float:right;">{{ 'Send' | trans }}</button>
							</div>
						</div>

					</form>

				</p>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>