<!-- Footer
       ================================================== -->
<footer id="footer">
    <section class="top-footer narrow">
        <div class="container">
            <div class="row">

                <h3 class="hidden">More Resources</h3>

                <div class="col-md-9">
                    <div class="footer-content-left">
                        {% include 'common/navBottom.html.twig' %}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-content-right">
                        <div style="text-align: right;" class="">
                                <span class="skyscanner"><a
                                            href='http://www.skyscanner.net'>{{ 'Flight search powered by ' | trans }}
                                        <img src="/img/partners/skyscanner.png" class="skyscanner" alt='skyscanner'
                                             width="1024"
                                             height="565" style="max-width: 175px;"></a></span>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sub-footer">
        <div class="container">
            <div class="row">

                <h3 class="hidden">About</h3>

                <div class="col-xs-12">
                    {#
							<span style="color:#999; font-size: 15px;" class="pull-right">
                                    <a href="https://play.google.com/store/apps/details?id=com.kenweego.app"
                                            data-kwg-track-click="Clicked GooglePlayButton"
                                            data-kwg-track-props-location="footer"
                                            >
                                        <img alt="Get it on Google Play"
                                             src="https://developer.android.com/images/brand/{{ app.locale }}_generic_rgb_wo_45.png"/>
                                    </a>
           <a href="https://geo.itunes.apple.com/{{ app.locale }}/app/kenweego/id1012318676?mt=8"
              data-kwg-track-click="Clicked AppstoreButton"
              data-kwg-track-props-location="footer"
              style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
#}
                    </span>

                    <span style="color:#999; font-size: 13px;">&copy; 2015 Kenweego SAS | Travel company. Terms of Use and Privacy Policy.</span>
                    <span style="color:#999; font-size: 13px;">{% for lg in app['supported_locales'] %}
                            | <a
                                href="{{ app.request.getSchemeAndHttpHost() }}/{{ lg }}">{{ lg }}</a>
                        {% endfor %}</span>
                    <span>v{{ app['version'] }}</span>
                </div>
            </div>
        </div>
    </section>
</footer>

<!-- .Footer -->
<!-- /.Footer -->
